.header {
    max-width: 64rem;
    margin: 0 auto;
    height: 13rem;
    position: relative;
    margin-bottom: 4rem;

    display: grid;
    grid-template-columns: 1fr 140px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "links logo contact";
    grid-gap: 1rem;

    color: #fff;
    a {
      color: #fff;
    }

    &:after {
        content: "";
        height: 50px;
        width: 100vw;
        background: #090d11;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        position: absolute;
        z-index: 1;
    }

    .links {
      grid-area: links;
      text-align: right;
      padding: 0;
      list-style-type: none;
      align-self: end;

      li {
        margin: 0;
        padding: 0 0 0 1rem;
        display: inline-block;

      }

      .facebook,
      .messenger {
        display: inline-block;

        svg {
          height: 1.5rem;
        }
        path {
          fill: #898f9c;
        }

        &:hover {
          path {
            fill: lighten($color: #898f9c, $amount: 25%)
          }
        }
      }

      .messenger {
        svg {
          height: 1.6rem;
        }
      }
    }

    .logo {
      grid-area: logo;
      background-image: linear-gradient(to bottom, #ffe400 0%,#ffc000 100%);
    }

    .contact {
      grid-area: contact;
      align-self: end;

      svg {
        height: 1.5rem;
        width: 1.5rem;
        background-color: #898f9c;
        padding: 3px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: .5rem;
        margin-top: -2px;
      }

      a {
        text-decoration: none;
        color: #898f9c;

        &:hover {
          color: lighten($color: #898f9c, $amount: 25%);
          text-decoration: underline;
        }
      }

      @media (max-width: 480px) {
        .phone-number {
          display: none;
        }
      }
    }

    .links,
    .logo,
    .contact {
      z-index: 2;
      position: relative;
      display: block;
      margin: 0;
    }

    .contact {
      padding-bottom: 1.8rem;

      @media (max-width: 480px) {
        padding-bottom: 1rem;
      }
    }

    .links {
      padding-bottom: 1.4rem;

      @media (max-width: 480px) {
        padding-bottom: .5rem;
      }
    }
}


.logo-image {
  margin: 1rem;
}
